<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    </head>
    <body>
        <div id="map" style="width:100%; height:600px;"></div>
        <h1>Money Tracker: 2018 Florida race for Agriculture Commissioner</h1>
        <table border=1 cellpadding=7>
            <tr>
                <th>Date of Deposit</th>
                <th>Receiving PAC</th>
                <th>Amount of Deposit</th>
                <th>Contributor</th>
                <th>Contribution Address</th>
            </tr>
        {% for obj in object_list %}
            <tr>
                <td><a href="{{ obj.id }}/">{{ obj.date_of_deposit }}</a></td>
                <td>{{ obj.pac_name }}</td>
                <td>{{ obj.amount }}</td>
                <td>{{ obj.contributor }}</td>
                <td>{{ obj.address_full }}</td> 
            </tr>
        {% endfor %}
        </table>
        <script type="text/javascript">
            var map = L.map('map').setView([ 27.8745, -82.4936 ], 6.5);
            var osmLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Data, imagery and map information provided by <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a>.'
            });
            map.addLayer(osmLayer);
            var data = {
                "type": "FeatureCollection",
                "features": [
                    {% for obj in object_list %}
                    {
                        "type": "Feature",
                        "properties": {
                            "full_name": "{{ obj.contributor }}",
                            "id": "{{ obj.id }}"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [{{ obj.lng }}, {{ obj.lat }}]
                        }                   
                    }{% if not loop.last %}, {% endif %}
                    {% endfor %}
                ]
            };
            var dataLayer = L.geoJson(data, {
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(
                        '<a href="' + feature.properties.id + '/">' +
                            feature.properties.full_name +
                        '</a>'
                    );
                }
            });
            map.addLayer(dataLayer);
        </script>
    </body>
</html>